html {
  font-size: 16px;
}

body {
  padding: 2em;
  background-color: #E5EAEE;
  font-family: 'Droid Serif';
  font-size: 62.5%;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  color: #881C65;
}

#visualization {
  padding: 8em;
}

.right-align {
  text-align: right;
  padding-right: 10em;
}

.stock-label {
  font-size: 1.5em;
}
